// Color vars
$surface-light: #FFFFFF;
$surface-med: #FAFBFC;
$surface-dark: #b4b4b4;
$text-high-emphasis: rgba(0,0,0,.87);
$text-med-emphasis: rgba(0,0,0,.6);
$text-subtle: rgba(0,0,0,.40);
$accent: #DC2F66;


// Spacing vars
$grid-gap-spacing: 16px;

