@import "mixins";
@import "vars";
@import "typography";

body {
	background-color: $surface-med;
	display: grid;
	gap: $grid-gap-spacing;
	grid-template: auto auto auto / auto;
	margin: 0 auto;
	padding: $grid-gap-spacing;
	@include tablet {
		margin: 24px auto;
	}
	@include desktop {
		max-width: 900px;
		margin: 36px auto;
	}
}

// Header
.header-component {
	display: grid;
	gap: ($grid-gap-spacing/2);
	grid-template: 	"name" auto
									"contact" auto
									/ auto;
	@include mobile {
		text-align: center;
	}
	@include tablet-and-above {
		grid-template: 	"name contact" auto
										/ auto 1fr;
		text-align: left;
	}
	@include print {
		grid-template: 	"name contact" auto
									/ auto 1fr;
		text-align: left;
	}
	h2 {
		margin: 0 0 6px;
	}
	p {
		margin: 0;
	}
	.names-and-pronouns-container {
		grid-area: name;
	}
	.contact-info-container {
		grid-area: contact;
		color: $text-subtle;
		@include mobile {
			h2 {
				font-size: 16px;
			}
		}
		@include tablet-and-above {
			text-align: right;
		}
		@include print {
			text-align: right;
		}
	}
}

// About 
.about-component {
	background-color: $surface-light;
	padding: $grid-gap-spacing;
	margin: ($grid-gap-spacing * 1.75) $grid-gap-spacing 0 $grid-gap-spacing;
	border-radius: 8px;
	box-shadow: 5px 5px 25px -15px rgba(0,0,0,.25);
	p {
		margin: 0;
		letter-spacing: .2px;
		line-height: 22px;
	}
	@include print {
		box-shadow: 5px 5px 20px -10px rgba(0,0,0,.5);
	}
}

// Work, skills, and education
.work-skills-education {
	display: grid;
	gap: $grid-gap-spacing;
	grid-template:  "work-experience" auto
									"skills" auto
									"education" auto
									/ auto;
	@include tablet {
		grid-template:  "work-experience work-experience" auto
										"skills education" auto
										/ 1fr 1fr;
	}
	@include desktop {
		grid-template:  "work-experience skills" auto
										"work-experience education" auto
										/ auto 200px;
	}
	@include print {
		grid-template: "work-experience skills" auto
										"work-experience education" auto
										/ auto 200px;
	}
}

// Work
.work-experience-container {
	grid-area: work-experience;
	hr {
		border: none;
		border-top: 1px solid $accent;		
		width: 20%;	
	}
	h3 {
		margin: ($grid-gap-spacing * .25) 0 0 0;
		margin-bottom: 0;
	}
	@include mobile {
		h2 {
			margin-top: ($grid-gap-spacing * 3);
		}
	}
	@include tablet-and-above {
		.title-and-dates {
			display: grid;
			grid-template: auto / auto auto;
			align-items: baseline;
			justify-content: start;
			gap: 8px;
		}
		.work-experience-meta-info {
			display: grid;
			grid-template: auto / auto auto auto auto;
			align-items: center;
			justify-content: start;
			gap: 8px;
		}
	}
	@include print {
		.title-and-dates {
			display: grid;
			grid-template: auto / auto auto;
			align-items: baseline;
			justify-content: start;
			gap: 8px;
		}
		.work-experience-meta-info {
			display: grid;
			grid-template: auto / auto auto auto auto;
			align-items: center;
			justify-content: start;
			gap: 8px;
		}
	}
}

// Skills
.skills-container {
	grid-area: skills;
	@include tablet-and-above {
		ul {
			list-style: none;
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			li {
				border: 1px solid $text-subtle;
				border-radius: 4px;
				background-color: $surface-light;
				padding: ($grid-gap-spacing * .25);
				margin: ($grid-gap-spacing * .25);
			}
		}
	}
	@include print {
		ul {
			list-style: none;
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			li {
				border: 1px solid $text-subtle;
				border-radius: 4px;
				background-color: $surface-light;
				padding: ($grid-gap-spacing * .25);
				margin: ($grid-gap-spacing * .25);
			}
		}
	}
}
.education-container {
	grid-area: education;
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: ($grid-gap-spacing * .25) 0 0 ($grid-gap-spacing * .75);
	}
	@include desktop {
		h2 {
			margin-top: 0;
		}
	}
}

// References
.references-container {
	.references-items {
		display: grid;
		gap: $grid-gap-spacing;
		grid-template: auto auto auto / auto;
		@include tablet-and-above {
			grid-template: auto / auto auto auto;
		}
		@include print {
			grid-template: auto / auto auto auto;
		}
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: ($grid-gap-spacing * .25) 0 0 ($grid-gap-spacing * .75);
	}
	@include mobile {
		h2 {
			margin: ($grid-gap-spacing * 3) 0 0 0;
		}
	}
	@include desktop {
		h2 {
			margin-bottom: $grid-gap-spacing;
		}
		h3 {
			margin-top: ($grid-gap-spacing * .5);
		}
	}
}