@import "mixins";
@import "vars";
@import "typography";

body {
	background-color: $surface-med;
	display: grid;
	gap: $grid-gap-spacing;
	grid-template: auto auto auto / auto;
	margin: 0 auto;
	padding: $grid-gap-spacing;
	@include tablet {
		margin: 24px auto;
	}
	@include desktop {
		max-width: 900px;
		margin: 36px auto;
	}
}

// Header
.header-component {
	display: grid;
	gap: ($grid-gap-spacing/2);
	grid-template: 	"name" auto
									"contact" auto
									/ auto;
	@include mobile {
		text-align: center;
	}
	@include tablet-and-above {
		grid-template: 	"name contact" auto
										/ auto 1fr;
		text-align: left;
	}
	@include print {
		grid-template: 	"name contact" auto
									/ auto 1fr;
		text-align: left;
	}
	h2 {
		margin: 0 0 6px;
	}
	p {
		margin: 0;
	}
	.names-and-pronouns-container {
		grid-area: name;
	}
	.contact-info-container {
		grid-area: contact;
		color: $text-subtle;
		@include mobile {
			h2 {
				font-size: 16px;
			}
		}
		@include tablet-and-above {
			text-align: right;
		}
		@include print {
			text-align: right;
		}
	}
}

.work-skills-education {
	display: grid;
	gap: $grid-gap-spacing;
	grid-template:  "work-experience" auto
									"skills" auto
									"education" auto
									/ auto;
	@include tablet {
		grid-template:  "work-experience work-experience" auto
										"education skills" auto
										/ 1fr 1fr;
	}
	@include desktop {
		grid-template:  "work-experience skills" auto
										"work-experience education" auto
										/ auto 200px;
	}
	.work-experience-container {
		grid-area: work-experience;
	}
	.skills-container {
		grid-area: skills;
	}
	.education-container {
		grid-area: education;
	}
}

.references-container {
	.references-items {
		display: grid;
		gap: $grid-gap-spacing;
		grid-template: auto auto auto / auto;
		@include tablet-and-above {
			grid-template: auto / 1fr 1fr 1fr;
		}
	}
}